@import "variables";

@font-face {
    font-family: "Londrina" !important;
    src: url(fonts/LondrinaSolid-Regular.otf) format("OTF") !important;

}

body{
/*<<<<<<< HEAD*/
    background-image: url(photos/BackgroundImageDesktop.png);

    @font-face{
        font-family: "Londrina" !important;
        src: url("fonts/LondrinaSolid-Regular.OTF") format("OTF") !important;
    }


/*=======*/
    background-image: url(photos/BackgroundImageDesktop.png);
    font-family: "Londrina" !important;
/*>>>>>>> 6ce569924642664247661f19d40c0cc03c2094d1*/
}


header{
    img{
        width: 20%;
        display: block;
        margin: auto;
    }
    nav {

        text-align: center;

        li{
        display: inline;
        padding-right: 5%;
        text-align: center;
        }

   }
}

 #about-main{
    #bottlecap{
        width: 138px;
        height: 150px;
        display: none;
    }

    #marquee{
        width: 75px;
        height:250px;
        display: none;
    }

    #redbuilding{
        height: 200px;
    }

    #links{
        padding-top: 5%;
    }

    h1{
        color: @red;
    }

    @media(min-width:720px){
        #redbuilding{
            height: 500px;
        }
    }

    p{
        margin: auto;
        padding-bottom: 2%;
    }

    img{
        margin-bottom: 2%;
        padding-bottom: 5%;
        margin: auto;
    }

    .col-12 col-md-2{
        margin: auto;
        display: block;
    }
}

a, a:hover{
    color: black;
    list-style-type: none;
    width: 0;
}
/*<<<<<<< HEAD*/

#friends{
    #frenchy-img{
        height: 278px;

    }

    #mousie-img{
        height: 599px;
    }

    #studiobe-img{
        height: 500px;
    }

    #whohadada-img{
        height: 278px;
    }
}

//Press Page
#press-main {
  .press-container {
    margin: 0 auto;

  }

  .row, #pressrow{
    align-items: center;
    margin: 0 auto;
    padding: 10px;
  }

  #pressword {
    max-height: 120px;
    max-width: 200px;
  }
  #press1  {
    //box-shadow:-10px -3px 0px 35px #dd2528;
    max-width:360px;
    //max-height: 390px ;
    margin: 0 auto;
    background-image: url("photos/PressSq1.png");
    background-size: 400px 600px, cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    border: 30px solid #dd2528;
    border-right-width: thick;
    border-bottom-width: 10px;

  }
  #press2  {
    //box-shadow: -10px -3px 0px 35px #f89522;
    max-width:360px;
    //max-height:390px ;
    margin: 0 auto;
    background-image: url("photos/PressSq2.png");
    background-size: 400px 600px, cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    border: 30px solid #f89522;
    border-right-width: thick;
    border-bottom-width: 10px;

  }
  #press3  {
    //box-shadow: -10px -3px 0px 35px #00a9c8;
    max-width:360px;
    //max-height:390px ;
    margin: 0 auto;
    background-image: url("photos/PressSq3.png");
    background-size: 400px 600px, cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    border: 30px solid #00a9c8;
    border-right-width: thick;
    border-bottom-width: 10px;

  }
  #press4  {
    //box-shadow:-10px -3px 0px 35px #6941ae;
    max-width:360px;
    //max-height: 390px;
     margin: 0 auto;
    background-image: url("photos/PressSq4.png");
    background-size: 400px 600px, cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    border: 30px solid #6941ae;
    border-right-width: thick;
    border-bottom-width: 10px;

  }
}

//contact page
.contact-container {


  h1 {
    font-family: 'Londrina';
    color: #dd2528;
  }

  .address h3, .phone h3{
    text-align: center;
    font-family: "Londrina";
    color: #dd2528;
    font-size: 1rem;
  }
  .address, .phone {
    padding: 30px 0 10px 0;
  }
  .map iframe {
    display: flex;
    margin: 0 auto;
    padding: 30px;
  }

  img {
    margin: 0 auto;
    max-width: 300px;
    display: block;
  }

  @media (min-width:500px) {
    .address h3, .phone h3 {
      font-size: 1.2rem;
    }
    iframe {
      width: 500px;
      height: 300px;
    }
  }

  @media (min-width:700px){
    iframe {
      width:650px;
      height:400px;
    }
  }
}
footer{

    padding-top: 5%;

    p{
        margin: auto;
    }

     img{
        width: 25px;
        margin: auto;
         display: block;

    }

    @media (min-width:760px){
        width: 50%;
        margin: auto;
    }


}
/*=======
>>>>>>> 6ce569924642664247661f19d40c0cc03c2094d1*/
