@import "variables";

body{
    background-image: url(photos/BackgroundImageDesktop.png); 
    
    @font-face{
        font-family: "Londrina" !important;
        src: url("fonts/LondrinaSolid-Regular.OTF") format("OTF") !important;
    }
    
    
}

header{
    img{
        width: 20%;
        display: block; 
        margin: auto;
    }
    nav {
            
        text-align: center;
        
        li{
        display: inline; 
        padding-right: 5%;
        text-align: center;    
        }
        
   }
}

 #about-main{
    #bottlecap{
        width: 138px; 
        height: 150px;
        display: none;
    }
    
    #marquee{
        width: 75px;
        height:250px;
        display: none;
    }
    
    #redbuilding{
        height: 200px;
    }
    
    #links{
        padding-top: 5%;
    }
    
    h1{
        color: @red;
    }
    
    @media(min-width:720px){
        #redbuilding{
            height: 500px;
        }
    }
    
    p{
        margin: auto;
        padding-bottom: 2%;
    }
    
    img{
        margin-bottom: 2%;
        padding-bottom: 5%;
        margin: auto;
    }
    
    .col-12 col-md-2{
        margin: auto;
        display: block;
    }
}

a, a:hover{
    color: black;
    list-style-type: none;
}

#friends{
    #frenchy-img{
        height: 278px;
        
    }
    
    #mousie-img{
        height: 599px;
    }
    
    #studiobe-img{
        height: 500px;
    }
    
    #whohadada-img{
        height: 278px;
    }
}


footer{
    
    padding-top: 5%;
    
    p{
        margin: auto;
    }
    
     img{
        width: 25px;
        margin: auto;
         display: block;
        
    }
    
    @media (min-width:760px){
        width: 50%; 
        margin: auto;
    }
    
   
}
